
*target*
*.jar
*.war
*.ear
*.class

# idea
*.idea*
*.iml
out
gen
overlays/*
*.iws
*.ipr
/.idea/
*.log
strategies-api/app.log

# Frontend
node_modules/
dist/
.DS_Store
*.local
strategies-api/app.log
strategies-api/app.log
/stock_analysis_results/
